{% include "admin/includes/topmenu" %}
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav" id="leftside"></div>
    <div class="col-sm-8 text-left" id="main"></div>
    <div class="col-sm-2 sidenav" id="rightside"></div>
  </div>
</div>

<footer class="container-fluid text-center">
{% include "admin/includes/footer" %}
</footer>
